# Extracting and processing data streams

The overall idea of this notebook is to use it to start extracting the different data streams that the [Interactive Atlas of Heart Disease and Stroke](https://nccd.cdc.gov/DHDSPAtlas) used to make its different choropleth maps.

### Target variable

The CDC makes the multiple mortality cause file for each year available for public download [here](https://www.cdc.gov/nchs/data_access/vitalstatsonline.htm#Mortality_Multiple). It looks like this [https://gist.github.com/SohierDane/0f2cf7a8538ca35431dd7575ac38e7ca](python script) here is able to extract the data from these fixed-width data files, although I'm not entirely sure how exports the data; as json? CSVs?

Target variable source: CDC multiple cause of mortality file
To do:
* Need to download the various fixed-width data files to AWS (let's set 2000 to 2016 as the years that you're interested in)
* Need to figure out how to extract these files into CSVs and then to load them into postgres or some other database structure, so that you can query it.

In [1]:
import csv
import pandas as pd

### Predictor variables

To start off, let's see if we can pick 3 'good' predictor variables. What I mean by 'good' is that I can get time series data for each county in the US (or at least a significant subset of them), at a reasonable sampling frequency. E.g., to at least be able to have a time point annually, if not bi-annually or even monthly.

Let's just pick some time streams that I think would be interesting; I'm not sure that this information is going to be available at the county level, though:
* Percent diagnosed with diabetes
* Percent with health insurance
* Unemployment rate (vs poverty rate vs income inequality)
* Blood pressure medication non-adherence

What you might have to do is to reformulate this to do a state-by-state basis, because there's probably more data available on the state level (and possibly at a higher frequency) than at the local level. The other upside is that when public health interventions are implemented, they are often implemented at the state level, and finding news articles about these interventions is probably easier for state-wide actions vs county-level actions. The downside, though, is that states are clearly extremely different sizes, and so the model might get confused or act differently between predicting mortality or disease incidence in Rhode Island vs California.

#### Diabetes predictor variables

From the CDC: diabetes prevalence, incidence, obesity, and leisure-time physical inactivity by county. Data is from 2004 to 2013. Datasets located at [this website](https://www.cdc.gov/diabetes/data/countydata/countydataindicators.html). After reading further, it looks like this data actually comes from the BRFSS? Since the raw BRFSS data is actually available, it might be better/necessary to directly process the BRFSS dataset.

#### BRFSS

The Behavioral Risk Factor Surveillance System is a data set that I think has a lot of variables that would potentially be interesting, and I think would give me the percent diagnosed with diabetes and also the percent diagnosed with health insurance, but it looks like cleaning up the data is fairly involved. It does seem that this guy has already done a lot of the heavy lifting at his github [here](https://github.com/winstonlarson/brfss), but I'm going to have to poke around the data in order to see if it actually provides county-level data.

In [2]:
%%bash
ls ../data/brfss

2014_codebook.pdf
brfss2014.csv

The brfss2014 csv is quite large, so we'll just get the first line, which is the header for the columns.

In [7]:
with open('../data/brfss/brfss2014.csv', newline='') as f:
    reader = csv.reader(f)
    row1 = next(reader)
    row2 = next(reader)

In [19]:
brfss_2014_sample = pd.read_csv("../data/brfss/brfss2014.csv", nrows=100000)

/Users/joycelee/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (121) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [14]:
list(brfss_2014_sample.columns)

['Unnamed: 0',
 'x.state',
 'fmonth',
 'idate',
 'imonth',
 'iday',
 'iyear',
 'dispcode',
 'seqno',
 'x.psu',
 'ctelenum',
 'pvtresd1',
 'colghous',
 'stateres',
 'ladult',
 'numadult',
 'nummen',
 'numwomen',
 'genhlth',
 'physhlth',
 'menthlth',
 'poorhlth',
 'hlthpln1',
 'persdoc2',
 'medcost',
 'checkup1',
 'exerany2',
 'sleptim1',
 'cvdinfr4',
 'cvdcrhd4',
 'cvdstrk3',
 'asthma3',
 'asthnow',
 'chcscncr',
 'chcocncr',
 'chccopd1',
 'havarth3',
 'addepev2',
 'chckidny',
 'diabete3',
 'diabage2',
 'lastden3',
 'rmvteth3',
 'veteran3',
 'marital',
 'children',
 'educa',
 'employ1',
 'income2',
 'weight2',
 'height3',
 'numhhol2',
 'numphon2',
 'cpdemo1',
 'internet',
 'renthom1',
 'sex',
 'pregnant',
 'qlactlm2',
 'useequip',
 'blind',
 'decide',
 'diffwalk',
 'diffdres',
 'diffalon',
 'smoke100',
 'smokday2',
 'stopsmk2',
 'lastsmk2',
 'usenow3',
 'alcday5',
 'avedrnk2',
 'drnk3ge5',
 'maxdrnks',
 'flushot6',
 'flshtmy2',
 'pneuvac3',
 'shingle2',
 'fall12mn',
 'fallinj2',
 'seatbelt',
 'drnkdri2',
 'hadmam',
 'howlong',
 'profexam',
 'lengexam',
 'hadpap2',
 'lastpap2',
 'hadhyst2',
 'pcpsaad2',
 'pcpsadi1',
 'pcpsare1',
 'psatest1',
 'psatime',
 'pcpsars1',
 'bldstool',
 'lstblds3',
 'hadsigm3',
 'hadsgco1',
 'lastsig3',
 'hivtst6',
 'hivtstd3',
 'whrtst10',
 'pdiabtst',
 'prediab1',
 'insulin',
 'bldsugar',
 'feetchk2',
 'doctdiab',
 'chkhemo3',
 'feetchk',
 'eyeexam',
 'diabeye',
 'diabedu',
 'painact2',
 'qlmentl2',
 'qlstres2',
 'qlhlth2',
 'medicare',
 'hlthcvr1',
 'delaymed',
 'dlyother',
 'nocov121',
 'lstcovrg',
 'drvisits',
 'medscost',
 'carercvd',
 'medbill1',
 'asbialch',
 'asbidrnk',
 'asbibing',
 'asbiadvc',
 'asbirduc',
 'wtchsalt',
 'longwtch',
 'dradvise',
 'asthmage',
 'asattack',
 'aservist',
 'asdrvist',
 'asrchkup',
 'asactlim',
 'asymptom',
 'asnoslep',
 'asthmed3',
 'asinhalr',
 'imfvplac',
 'tetanus',
 'hpvtest',
 'hplsttst',
 'hpvadvc2',
 'hpvadsht',
 'cncrdiff',
 'cncrage',
 'cncrtyp1',
 'csrvtrt1',
 'csrvdoc1',
 'csrvsum',
 'csrvrtrn',
 'csrvinst',
 'csrvinsr',
 'csrvdein',
 'csrvclin',
 'csrvpain',
 'csrvctl1',
 'rrclass2',
 'rrcognt2',
 'rratwrk2',
 'rrhcare3',
 'rrphysm2',
 'rremtsm2',
 'scntmny1',
 'scntmel1',
 'scntpaid',
 'scntwrk1',
 'scntlpad',
 'scntlwk1',
 'scntvot1',
 'sxorient',
 'trnsgndr',
 'rcsgendr',
 'rcsrltn2',
 'casthdx2',
 'casthno2',
 'emtsuprt',
 'lsatisfy',
 'ctelnum1',
 'cellfon2',
 'cadult',
 'pvtresd2',
 'cclghous',
 'cstate',
 'landline',
 'hhadult',
 'qstver',
 'qstlang',
 'mscode',
 'x.ststr',
 'x.strwt',
 'x.rawrake',
 'x.wt2rake',
 'x.age80',
 'x.imprace',
 'x.impnph',
 'x.chispnc',
 'x.cprace',
 'x.crace1',
 'x.impcage',
 'x.impcrac',
 'x.impcsex',
 'x.cllcpwt',
 'x.dualuse',
 'x.dualcor',
 'x.llcpwt2',
 'x.llcpwt',
 'x.rfhlth',
 'x.hcvu651',
 'x.totinda',
 'x.ltasth1',
 'x.casthm1',
 'x.asthms1',
 'x.drdxar1',
 'x.exteth2',
 'x.alteth2',
 'x.denvst2',
 'x.prace1',
 'x.mrace1',
 'x.hispanc',
 'x.race',
 'x.raceg21',
 'x.racegr3',
 'x.race.g1',
 'x.ageg5yr',
 'x.age65yr',
 'x.age.g',
 'htin4',
 'htm4',
 'wtkg3',
 'x.bmi5',
 'x.bmi5cat',
 'x.rfbmi5',
 'x.chldcnt',
 'x.educag',
 'x.incomg',
 'x.smoker3',
 'x.rfsmok3',
 'drnkany5',
 'drocdy3.',
 'x.rfbing5',
 'x.drnkdy4',
 'x.drnkmo4',
 'x.rfdrhv4',
 'x.rfdrmn4',
 'x.rfdrwm4',
 'x.flshot6',
 'x.pneumo2',
 'x.rfseat2',
 'x.rfseat3',
 'x.rfmam2y',
 'x.mam502y',
 'x.mam5021',
 'x.rfpap32',
 'x.rfpap33',
 'x.rfpsa21',
 'x.rfblds2',
 'x.rfblds3',
 'x.rfsigm2',
 'x.col10yr',
 'x.hfob3yr',
 'x.fs5yr',
 'x.fobtfs',
 'x.crcrec',
 'x.aidtst3',
 'x.impeduc',
 'x.impmrtl',
 'x.imphome',
 'rcsbrac1',
 'rcsrace1',
 'rchisla1',
 'rcsbirth']

In [20]:
brfss_2014_sample['x.state'].unique()

array([ 1,  2,  4,  5,  6,  8,  9, 10, 11, 12, 13, 15, 16])

In [22]:
groupby_state = brfss_2014_sample.groupby(['x.state'])[['fmonth', 'idate', 'imonth', 'iday', 'iyear', 'hlthpln1', 'medcost']]

In [24]:
groupby_state.get_group(1)

      fmonth     idate  imonth  iday  iyear  hlthpln1  medcost
0          1   1172014       1    17   2014         1        1
1          1   1072014       1     7   2014         1        2
2          1   1092014       1     9   2014         1        2
3          1   1072014       1     7   2014         1        2
4          1   1162014       1    16   2014         1        2
5          1   1022014       1     2   2014         1        2
6          1   1062014       1     6   2014         1        2
7          1   1112014       1    11   2014         1        2
8          1   1022014       1     2   2014         2        1
9          1   1082014       1     8   2014         1        2
10         1   1072014       1     7   2014         1        2
11         1   1022014       1     2   2014         1        2
12         1   1132014       1    13   2014         1        2
13         1   1042014       1     4   2014         1        2
14         1   1022014       1     2   2014         1        2
15         1   1062014       1     6   2014         1        2
16         1   1072014       1     7   2014         1        2
17         1   1072014       1     7   2014         1        2
18         1   1042014       1     4   2014         1        2
19         1   1082014       1     8   2014         1        2
20         1   1092014       1     9   2014         1        2
21         1   1032014       1     3   2014         1        2
22         1   1132014       1    13   2014         1        1
23         1   1152014       1    15   2014         1        2
24         1   1072014       1     7   2014         1        1
25         1   1142014       1    14   2014         2        1
26         1   1112014       1    11   2014         1        2
27         1   1082014       1     8   2014         1        2
28         1   1072014       1     7   2014         1        2
29         1   1142014       1    14   2014         1        2
...      ...       ...     ...   ...    ...       ...      ...
8622       3   4032014       4     3   2014         2        2
8623       5   6192014       6    19   2014         1        2
8624       6   9042014       9     4   2014         1        2
8625       8  11132014      11    13   2014         1        2
8626       3   3102014       3    10   2014         1        2
8627       1   1142014       1    14   2014         1        2
8628      12  12182014      12    18   2014         1        2
8629       1   1142014       1    14   2014         1        2
8630      11  11072014      11     7   2014         1        2
8631       2   2282014       2    28   2014         1        2
8632       4   5222014       5    22   2014         1        2
8633       9   9162014       9    16   2014         1        2
8634       6   6152014       6    15   2014         1        1
8635       7   7122014       7    12   2014         1        2
8636      10  10282014      10    28   2014         2        1
8637       5   5212014       5    21   2014         1        2
8638       5   6212014       6    21   2014         1        2
8639       7   7022014       7     2   2014         1        2
8640      10  10152014      10    15   2014         1        2
8641      11  11172014      11    17   2014         1        2
8642      11  11092014      11     9   2014         1        2
8643      11  11092014      11     9   2014         1        2
8644      12  12112014      12    11   2014         1        1
8645       1   2012014       2     1   2014         1        2
8646       6   6282014       6    28   2014         1        1
8647      11  11152014      11    15   2014         1        2
8648       4   4192014       4    19   2014         1        2
8649       4   4092014       4     9   2014         2        2
8650      11  11162014      11    16   2014         1        2
8651       4   4242014       4    24   2014         1        2

[8652 rows x 7 columns]

In [2]:
brfss_2014 = pd.read_csv("../data/brfss/brfss2014.csv", encoding = "ISO-8859-1", engine='python', nrows= 1000)

In [3]:
brfss_2014

,Unnamed: 0,x.state,fmonth,idate,imonth,iday,iyear,dispcode,seqno,x.psu,...,x.fobtfs,x.crcrec,x.aidtst3,x.impeduc,x.impmrtl,x.imphome,rcsbrac1,rcsrace1,rchisla1,rcsbirth
0,1,1,1,1172014,1,17,2014,1100,2014000001,2014000001,...,2.0,1.0,2.0,5,1,1,NaN,NaN,NaN,NaN
1,2,1,1,1072014,1,7,2014,1100,2014000002,2014000002,...,2.0,2.0,2.0,4,1,1,NaN,NaN,NaN,NaN
2,3,1,1,1092014,1,9,2014,1100,2014000003,2014000003,...,2.0,2.0,2.0,6,1,1,NaN,NaN,NaN,NaN
3,4,1,1,1072014,1,7,2014,1100,2014000004,2014000004,...,2.0,1.0,2.0,6,3,1,NaN,NaN,NaN,NaN
4,5,1,1,1162014,1,16,2014,1100,2014000005,2014000005,...,2.0,1.0,2.0,5,1,1,NaN,NaN,NaN,NaN
5,6,1,1,1022014,1,2,2014,1100,2014000006,2014000006,...,NaN,NaN,2.0,6,1,1,NaN,NaN,NaN,NaN
6,7,1,1,1062014,1,6,2014,1100,2014000007,2014000007,...,2.0,1.0,1.0,6,1,1,NaN,NaN,NaN,NaN
7,8,1,1,1112014,1,11,2014,1100,2014000008,2014000008,...,2.0,2.0,1.0,4,2,1,NaN,NaN,NaN,NaN
8,9,1,1,1022014,1,2,2014,1100,2014000009,2014000009,...,2.0,2.0,2.0,3,1,1,NaN,NaN,NaN,NaN
9,10,1,1,1082014,1,8,2014,1100,2014000010,2014000010,...,NaN,NaN,2.0,5,1,1,NaN,NaN,NaN,NaN
10,11,1,1,1072014,1,7,2014,1100,2014000011,2014000011,...,NaN,NaN,2.0,4,1,1,NaN,NaN,NaN,NaN
11,12,1,1,1022014,1,2,2014,1100,2014000012,2014000012,...,2.0,1.0,2.0,5,1,1,NaN,NaN,NaN,NaN
12,13,1,1,1132014,1,13,2014,1100,2014000013,2014000013,...,NaN,NaN,2.0,6,1,1,NaN,NaN,NaN,NaN
13,14,1,1,1042014,1,4,2014,1100,2014000014,2014000014,...,2.0,1.0,2.0,6,2,3,NaN,NaN,NaN,NaN
14,15,1,1,1022014,1,2,2014,1100,2014000015,2014000015,...,2.0,1.0,2.0,5,3,1,NaN,NaN,NaN,NaN
15,16,1,1,1062014,1,6,2014,1100,2014000016,2014000016,...,NaN,NaN,2.0,5,3,1,NaN,NaN,NaN,NaN
16,17,1,1,1072014,1,7,2014,1100,2014000017,2014000017,...,NaN,1.0,2.0,5,1,1,NaN,NaN,NaN,NaN
17,18,1,1,1072014,1,7,2014,1100,2014000018,2014000018,...,2.0,NaN,2.0,5,3,2,NaN,NaN,NaN,NaN
18,19,1,1,1042014,1,4,2014,1100,2014000019,2014000019,...,2.0,2.0,2.0,5,1,1,NaN,NaN,NaN,NaN
19,20,1,1,1082014,1,8,2014,1100,2014000020,2014000020,...,NaN,1.0,2.0,3,4,2,NaN,NaN,NaN,NaN
20,21,1,1,1092014,1,9,2014,1200,2014000021,2014000021,...,NaN,NaN,NaN,2,2,1,NaN,NaN,NaN,NaN
21,22,1,1,1032014,1,3,2014,1100,2014000022,2014000022,...,2.0,2.0,2.0,6,4,1,NaN,NaN,NaN,NaN
22,23,1,1,1132014,1,13,2014,1100,2014000023,2014000023,...,NaN,NaN,1.0,5,2,1,NaN,NaN,NaN,NaN
23,24,1,1,1152014,1,15,2014,1100,2014000024,2014000024,...,2.0,1.0,1.0,4,1,1,NaN,NaN,NaN,NaN
24,25,1,1,1072014,1,7,2014,1100,2014000025,2014000025,...,NaN,NaN,1.0,5,2,1,NaN,NaN,NaN,NaN
25,26,1,1,1142014,1,14,2014,1100,2014000026,2014000026,...,NaN,NaN,2.0,2,1,1,NaN,NaN,NaN,NaN
26,27,1,1,1112014,1,11,2014,1100,2014000027,2014000027,...,2.0,1.0,2.0,5,1,1,NaN,NaN,NaN,NaN
27,28,1,1,1082014,1,8,2014,1100,2014000028,2014000028,...,2.0,1.0,2.0,5,1,1,NaN,NaN,NaN,NaN
28,29,1,1,1072014,1,7,2014,1100,2014000029,2014000029,...,NaN,NaN,2.0,4,3,2,NaN,NaN,NaN,NaN
29,30,1,1,1142014,1,14,2014,1100,2014000030,2014000030,...,2.0,1.0,9.0,6,1,1,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,971,1,3,3132014,3,13,2014,1100,2014000971,2014000971,...,NaN,1.0,1.0,4,2,1,NaN,NaN,NaN,NaN
971,972,1,3,3052014,3,5,2014,1100,2014000972,2014000972,...,2.0,1.0,2.0,2,3,2,NaN,NaN,NaN,NaN
972,973,1,3,3032014,3,3,2014,1100,2014000973,2014000973,...,NaN,NaN,1.0,4,2,2,NaN,NaN,NaN,NaN
973,974,1,3,3032014,3,3,2014,1100,2014000974,2014000974,...,NaN,NaN,2.0,5,3,1,NaN,NaN,NaN,NaN
974,975,1,3,3062014,3,6,2014,1100,2014000975,2014000975,...,NaN,1.0,2.0,5,2,1,NaN,NaN,NaN,NaN
975,976,1,3,3252014,3,25,2014,1100,2014000976,2014000976,...,NaN,NaN,1.0,5,5,1,NaN,NaN,NaN,NaN
976,977,1,3,3062014,3,6,2014,1100,2014000977,2014000977,...,2.0,2.0,2.0,3,2,1,NaN,NaN,NaN,NaN
977,978,1,3,3152014,3,15,2014,1100,2014000978,2014000978,...,NaN,NaN,1.0,6,1,2,NaN,NaN,NaN,NaN
978,979,1,3,3032014,3,3,2014,1100,2014000979,2014000979,...,NaN,NaN,2.0,2,3,2,NaN,NaN,NaN,NaN
979,980,1,3,3052014,3,5,2014,1100,2014000980,2014000980,...,2.0,1.0,1.0,5,1,1,NaN,NaN,NaN,NaN
980,981,1,3,3032014,3,3,2014,1100,2014000981,2014000981,...,NaN,NaN,2.0,5,3,3,NaN,NaN,NaN,NaN
981,982,1,3,3052014,3,5,2014,1100,2014000982,2014000982,...,2.0,1.0,9.0,2,2,2,NaN,NaN,NaN,NaN
982,983,1,3,3012014,3,1,2014,1100,2014000983,2014000983,...,2.0,1.0,1.0,6,2,1,NaN,NaN,NaN,NaN
983,984,1,3,3072014,3,7,2014,1100,2014000984,2014000984,...,NaN,NaN,2.0,5,3,1,NaN,NaN,NaN,NaN
984,985,1,3,3062014,3,6,2014,1100,2014000985,2014000985,...,2.0,1.0,2.0,6,1,1,NaN,NaN,NaN,NaN
985,986,1,1,1102014,1,10,2014,1100,2014000986,2014000986,...,2.0,1.0,1.0,6,2,3,NaN,NaN,NaN,NaN
986,987,1,1,1152014,1,15,2014,1100,2014000987,2014000987,...,NaN,NaN,2.0,5,1,1,NaN,NaN,NaN,NaN
987,988,1,1,1182014,1,18,2014,1100,2014000988,2014000988,...,NaN,NaN,2.0,2,2,1,NaN,NaN,NaN,NaN
988,989,1,1,1212014,1,21,2014,1100,2014000989,2014000989,...,NaN,1.0,2.0,4,1,2,NaN,NaN,NaN,NaN
989,990,1,1,1102014,1,10,2014,1100,2014000990,2014000990,...,NaN,NaN,2.0,3,1,1,NaN,NaN,NaN,NaN
990,991,1,1,1022014,1,2,2014,1100,2014000991,2014000991,...,2.0,1.0,2.0,6,3,1,NaN,NaN,NaN,NaN
991,992,1,1,1212014,1,21,2014,1100,2014000992,2014000992,...,2.0,1.0,1.0,6,3,1,NaN,NaN,NaN,NaN
992,993,1,1,1222014,1,22,2014,1100,2014000993,2014000993,...,2.0,NaN,2.0,4,1,1,NaN,NaN,NaN,NaN
993,994,1,1,1022014,1,2,2014,1100,2014000994,2014000994,...,2.0,2.0,9.0,6,1,1,NaN,NaN,NaN,NaN
994,995,1,1,1022014,1,2,2014,1100,2014000995,2014000995,...,NaN,NaN,1.0,4,2,3,NaN,NaN,NaN,NaN
995,996,1,1,1042014,1,4,2014,1100,2014000996,2014000996,...,NaN,NaN,1.0,6,5,1,NaN,NaN,NaN,NaN
996,997,1,1,1132014,1,13,2014,1100,2014000997,2014000997,...,2.0,1.0,1.0,4,1,2,NaN,NaN,NaN,NaN
997,998,1,1,1172014,1,17,2014,1200,2014000998,2014000998,...,NaN,NaN,1.0,4,1,2,NaN,NaN,NaN,NaN
998,999,1,1,1102014,1,10,2014,1100,2014000999,2014000999,...,NaN,NaN,2.0,4,1,1,NaN,NaN,NaN,NaN
999,1000,1,1,1102014,1,10,2014,1100,2014001000,2014001000,...,NaN,NaN,1.0,6,1,1,NaN,NaN,NaN,NaN

In [30]:
%%bash
cd ../data/brfss
wc -l brfss2014.csv

  464665 brfss2014.csv