Okay, so the better way to do this would be to actually load this data into postgres and then query it in the database, but for the sake of actually getting the data out we'll do it the slow way and load it into jupyter notebook using pandas.

In [1]:
import pandas as pd
import pickle

# Get pandas and postgres to work together
import psycopg2 as pg
import pandas as pd
import pandas.io.sql as pd_sql

In [3]:
brfss_2014 = pd.read_csv("../data/brfss/brfss2014.csv", encoding = "cp1252", nrows=100)

In [5]:
brfss_2014.head()

,Unnamed: 0,x.state,fmonth,idate,imonth,iday,iyear,dispcode,seqno,x.psu,...,x.fobtfs,x.crcrec,x.aidtst3,x.impeduc,x.impmrtl,x.imphome,rcsbrac1,rcsrace1,rchisla1,rcsbirth
0,1,1,1,1172014,1,17,2014,1100,2014000001,2014000001,...,2.0,1.0,2.0,5,1,1,NaN,NaN,NaN,NaN
1,2,1,1,1072014,1,7,2014,1100,2014000002,2014000002,...,2.0,2.0,2.0,4,1,1,NaN,NaN,NaN,NaN
2,3,1,1,1092014,1,9,2014,1100,2014000003,2014000003,...,2.0,2.0,2.0,6,1,1,NaN,NaN,NaN,NaN
3,4,1,1,1072014,1,7,2014,1100,2014000004,2014000004,...,2.0,1.0,2.0,6,3,1,NaN,NaN,NaN,NaN
4,5,1,1,1162014,1,16,2014,1100,2014000005,2014000005,...,2.0,1.0,2.0,5,1,1,NaN,NaN,NaN,NaN

In [30]:
brfss_2014.rename(columns={'Unnamed: 0': 'record_id'}, inplace=True)

remove_periods_dict = dict([(col, col.replace(".", "")) for col in brfss_2014.columns])

brfss_2014.rename(columns=remove_periods_dict, inplace=True)

In [33]:
brfss_2014_columns = [str(col).lower() + " TEXT" for col in brfss_2014.columns]

brfss_2014_columns_str = ", ".join(brfss_2014_columns)
brfss_2014_create_table_query = "CREATE TABLE brfss_2014 (" + brfss_2014_columns_str + ")"

brfss_2014_load_table = "COPY brfss_2014 FROM '/home/ubuntu/brfss/brfss2014.csv' CSV HEADER ENCODING 'LATIN1'"

In [70]:
brfss_2014_columns

['addepev2 TEXT',
 'alcday5 TEXT',
 'asactlim TEXT',
 'asattack TEXT',
 'asbiadvc TEXT',
 'asbialch TEXT',
 'asbibing TEXT',
 'asbidrnk TEXT',
 'asbirduc TEXT',
 'asdrvist TEXT',
 'aservist TEXT',
 'asinhalr TEXT',
 'asnoslep TEXT',
 'asrchkup TEXT',
 'asthma3 TEXT',
 'asthmage TEXT',
 'asthmed3 TEXT',
 'asthnow TEXT',
 'asymptom TEXT',
 'avedrnk2 TEXT',
 'bldstool TEXT',
 'bldsugar TEXT',
 'blind TEXT',
 'cadult TEXT',
 'carercvd TEXT',
 'casthdx2 TEXT',
 'casthno2 TEXT',
 'cclghous TEXT',
 'cellfon2 TEXT',
 'chccopd1 TEXT',
 'chckidny TEXT',
 'chcocncr TEXT',
 'chcscncr TEXT',
 'checkup1 TEXT',
 'children TEXT',
 'chkhemo3 TEXT',
 'cncrage TEXT',
 'cncrdiff TEXT',
 'cncrtyp1 TEXT',
 'colghous TEXT',
 'cpdemo1 TEXT',
 'csrvclin TEXT',
 'csrvctl1 TEXT',
 'csrvdein TEXT',
 'csrvdoc1 TEXT',
 'csrvinsr TEXT',
 'csrvinst TEXT',
 'csrvpain TEXT',
 'csrvrtrn TEXT',
 'csrvsum TEXT',
 'csrvtrt1 TEXT',
 'cstate TEXT',
 'ctelenum TEXT',
 'ctelnum1 TEXT',
 'cvdcrhd4 TEXT',
 'cvdinfr4 TEXT',
 'cvdstrk3 TEXT',
 'decide TEXT',
 'delaymed TEXT',
 'diabage2 TEXT',
 'diabedu TEXT',
 'diabete3 TEXT',
 'diabeye TEXT',
 'diffalon TEXT',
 'diffdres TEXT',
 'diffwalk TEXT',
 'dispcode TEXT',
 'dlyother TEXT',
 'doctdiab TEXT',
 'dradvise TEXT',
 'drnk3ge5 TEXT',
 'drnkany5 TEXT',
 'drnkdri2 TEXT',
 'drocdy3 TEXT',
 'drvisits TEXT',
 'educa TEXT',
 'employ1 TEXT',
 'emtsuprt TEXT',
 'exerany2 TEXT',
 'eyeexam TEXT',
 'fall12mn TEXT',
 'fallinj2 TEXT',
 'feetchk TEXT',
 'feetchk2 TEXT',
 'flshtmy2 TEXT',
 'flushot6 TEXT',
 'fmonth TEXT',
 'genhlth TEXT',
 'hadhyst2 TEXT',
 'hadmam TEXT',
 'hadpap2 TEXT',
 'hadsgco1 TEXT',
 'hadsigm3 TEXT',
 'havarth3 TEXT',
 'height3 TEXT',
 'hhadult TEXT',
 'hivtst6 TEXT',
 'hivtstd3 TEXT',
 'hlthcvr1 TEXT',
 'hlthpln1 TEXT',
 'howlong TEXT',
 'hplsttst TEXT',
 'hpvadsht TEXT',
 'hpvadvc2 TEXT',
 'hpvtest TEXT',
 'htin4 TEXT',
 'htm4 TEXT',
 'idate TEXT',
 'iday TEXT',
 'imfvplac TEXT',
 'imonth TEXT',
 'income2 TEXT',
 'insulin TEXT',
 'internet TEXT',
 'iyear TEXT',
 'ladult TEXT',
 'landline TEXT',
 'lastden3 TEXT',
 'lastpap2 TEXT',
 'lastsig3 TEXT',
 'lastsmk2 TEXT',
 'lengexam TEXT',
 'longwtch TEXT',
 'lsatisfy TEXT',
 'lstblds3 TEXT',
 'lstcovrg TEXT',
 'marital TEXT',
 'maxdrnks TEXT',
 'medbill1 TEXT',
 'medcost TEXT',
 'medicare TEXT',
 'medscost TEXT',
 'menthlth TEXT',
 'mscode TEXT',
 'nocov121 TEXT',
 'numadult TEXT',
 'numhhol2 TEXT',
 'nummen TEXT',
 'numphon2 TEXT',
 'numwomen TEXT',
 'painact2 TEXT',
 'pcpsaad2 TEXT',
 'pcpsadi1 TEXT',
 'pcpsare1 TEXT',
 'pcpsars1 TEXT',
 'pdiabtst TEXT',
 'persdoc2 TEXT',
 'physhlth TEXT',
 'pneuvac3 TEXT',
 'poorhlth TEXT',
 'prediab1 TEXT',
 'pregnant TEXT',
 'profexam TEXT',
 'psatest1 TEXT',
 'psatime TEXT',
 'pvtresd1 TEXT',
 'pvtresd2 TEXT',
 'qlactlm2 TEXT',
 'qlhlth2 TEXT',
 'qlmentl2 TEXT',
 'qlstres2 TEXT',
 'qstlang TEXT',
 'qstver TEXT',
 'rchisla1 TEXT',
 'rcsbirth TEXT',
 'rcsbrac1 TEXT',
 'rcsgendr TEXT',
 'rcsrace1 TEXT',
 'rcsrltn2 TEXT',
 'record_id TEXT',
 'renthom1 TEXT',
 'rmvteth3 TEXT',
 'rratwrk2 TEXT',
 'rrclass2 TEXT',
 'rrcognt2 TEXT',
 'rremtsm2 TEXT',
 'rrhcare3 TEXT',
 'rrphysm2 TEXT',
 'scntlpad TEXT',
 'scntlwk1 TEXT',
 'scntmel1 TEXT',
 'scntmny1 TEXT',
 'scntpaid TEXT',
 'scntvot1 TEXT',
 'scntwrk1 TEXT',
 'seatbelt TEXT',
 'seqno TEXT',
 'sex TEXT',
 'shingle2 TEXT',
 'sleptim1 TEXT',
 'smokday2 TEXT',
 'smoke100 TEXT',
 'stateres TEXT',
 'stopsmk2 TEXT',
 'sxorient TEXT',
 'tetanus TEXT',
 'trnsgndr TEXT',
 'useequip TEXT',
 'usenow3 TEXT',
 'veteran3 TEXT',
 'weight2 TEXT',
 'whrtst10 TEXT',
 'wtchsalt TEXT',
 'wtkg3 TEXT',
 'xage65yr TEXT',
 'xage80 TEXT',
 'xageg TEXT',
 'xageg5yr TEXT',
 'xaidtst3 TEXT',
 'xalteth2 TEXT',
 'xasthms1 TEXT',
 'xbmi5 TEXT',
 'xbmi5cat TEXT',
 'xcasthm1 TEXT',
 'xchispnc TEXT',
 'xchldcnt TEXT',
 'xcllcpwt TEXT',
 'xcol10yr TEXT',
 'xcprace TEXT',
 'xcrace1 TEXT',
 'xcrcrec TEXT',
 'xdenvst2 TEXT',
 'xdrdxar1 TEXT',
 'xdrnkdy4 TEXT',
 'xdrnkmo4 TEXT',
 'xdualcor TEXT',
 'xdualuse TEXT',
 'xeducag TEXT',
 'xexteth2 TEXT',
 'xflshot6 TEXT',
 'xfobtfs TEXT',
 'xfs5yr TEXT',
 'xhcvu651 TEXT',
 'xhfob3yr TEXT',
 'xhispanc TEXT',
 'ximpcage TEXT',
 'ximpcrac TEXT',
 'ximpcsex TEXT',
 'ximpeduc TEXT',
 'ximphome TEXT',
 'ximpmrtl TEXT',
 'ximpnph TEXT',
 'ximprace TEXT',
 'xincomg TEXT',
 'xllcpwt TEXT',
 'xllcpwt2 TEXT',
 'xltasth1 TEXT',
 'xmam5021 TEXT',
 'xmam502y TEXT',
 'xmrace1 TEXT',
 'xpneumo2 TEXT',
 'xprace1 TEXT',
 'xpsu TEXT',
 'xrace TEXT',
 'xraceg1 TEXT',
 'xraceg21 TEXT',
 'xracegr3 TEXT',
 'xrawrake TEXT',
 'xrfbing5 TEXT',
 'xrfblds2 TEXT',
 'xrfblds3 TEXT',
 'xrfbmi5 TEXT',
 'xrfdrhv4 TEXT',
 'xrfdrmn4 TEXT',
 'xrfdrwm4 TEXT',
 'xrfhlth TEXT',
 'xrfmam2y TEXT',
 'xrfpap32 TEXT',
 'xrfpap33 TEXT',
 'xrfpsa21 TEXT',
 'xrfseat2 TEXT',
 'xrfseat3 TEXT',
 'xrfsigm2 TEXT',
 'xrfsmok3 TEXT',
 'xsmoker3 TEXT',
 'xstate TEXT',
 'xstrwt TEXT',
 'xststr TEXT',
 'xtotinda TEXT',
 'xwt2rake TEXT']

In [34]:
brfss_2014_create_table_query

'CREATE TABLE brfss_2014 (record_id TEXT, xstate TEXT, fmonth TEXT, idate TEXT, imonth TEXT, iday TEXT, iyear TEXT, dispcode TEXT, seqno TEXT, xpsu TEXT, ctelenum TEXT, pvtresd1 TEXT, colghous TEXT, stateres TEXT, ladult TEXT, numadult TEXT, nummen TEXT, numwomen TEXT, genhlth TEXT, physhlth TEXT, menthlth TEXT, poorhlth TEXT, hlthpln1 TEXT, persdoc2 TEXT, medcost TEXT, checkup1 TEXT, exerany2 TEXT, sleptim1 TEXT, cvdinfr4 TEXT, cvdcrhd4 TEXT, cvdstrk3 TEXT, asthma3 TEXT, asthnow TEXT, chcscncr TEXT, chcocncr TEXT, chccopd1 TEXT, havarth3 TEXT, addepev2 TEXT, chckidny TEXT, diabete3 TEXT, diabage2 TEXT, lastden3 TEXT, rmvteth3 TEXT, veteran3 TEXT, marital TEXT, children TEXT, educa TEXT, employ1 TEXT, income2 TEXT, weight2 TEXT, height3 TEXT, numhhol2 TEXT, numphon2 TEXT, cpdemo1 TEXT, internet TEXT, renthom1 TEXT, sex TEXT, pregnant TEXT, qlactlm2 TEXT, useequip TEXT, blind TEXT, decide TEXT, diffwalk TEXT, diffdres TEXT, diffalon TEXT, smoke100 TEXT, smokday2 TEXT, stopsmk2 TEXT, lastsmk2 TEXT, usenow3 TEXT, alcday5 TEXT, avedrnk2 TEXT, drnk3ge5 TEXT, maxdrnks TEXT, flushot6 TEXT, flshtmy2 TEXT, pneuvac3 TEXT, shingle2 TEXT, fall12mn TEXT, fallinj2 TEXT, seatbelt TEXT, drnkdri2 TEXT, hadmam TEXT, howlong TEXT, profexam TEXT, lengexam TEXT, hadpap2 TEXT, lastpap2 TEXT, hadhyst2 TEXT, pcpsaad2 TEXT, pcpsadi1 TEXT, pcpsare1 TEXT, psatest1 TEXT, psatime TEXT, pcpsars1 TEXT, bldstool TEXT, lstblds3 TEXT, hadsigm3 TEXT, hadsgco1 TEXT, lastsig3 TEXT, hivtst6 TEXT, hivtstd3 TEXT, whrtst10 TEXT, pdiabtst TEXT, prediab1 TEXT, insulin TEXT, bldsugar TEXT, feetchk2 TEXT, doctdiab TEXT, chkhemo3 TEXT, feetchk TEXT, eyeexam TEXT, diabeye TEXT, diabedu TEXT, painact2 TEXT, qlmentl2 TEXT, qlstres2 TEXT, qlhlth2 TEXT, medicare TEXT, hlthcvr1 TEXT, delaymed TEXT, dlyother TEXT, nocov121 TEXT, lstcovrg TEXT, drvisits TEXT, medscost TEXT, carercvd TEXT, medbill1 TEXT, asbialch TEXT, asbidrnk TEXT, asbibing TEXT, asbiadvc TEXT, asbirduc TEXT, wtchsalt TEXT, longwtch TEXT, dradvise TEXT, asthmage TEXT, asattack TEXT, aservist TEXT, asdrvist TEXT, asrchkup TEXT, asactlim TEXT, asymptom TEXT, asnoslep TEXT, asthmed3 TEXT, asinhalr TEXT, imfvplac TEXT, tetanus TEXT, hpvtest TEXT, hplsttst TEXT, hpvadvc2 TEXT, hpvadsht TEXT, cncrdiff TEXT, cncrage TEXT, cncrtyp1 TEXT, csrvtrt1 TEXT, csrvdoc1 TEXT, csrvsum TEXT, csrvrtrn TEXT, csrvinst TEXT, csrvinsr TEXT, csrvdein TEXT, csrvclin TEXT, csrvpain TEXT, csrvctl1 TEXT, rrclass2 TEXT, rrcognt2 TEXT, rratwrk2 TEXT, rrhcare3 TEXT, rrphysm2 TEXT, rremtsm2 TEXT, scntmny1 TEXT, scntmel1 TEXT, scntpaid TEXT, scntwrk1 TEXT, scntlpad TEXT, scntlwk1 TEXT, scntvot1 TEXT, sxorient TEXT, trnsgndr TEXT, rcsgendr TEXT, rcsrltn2 TEXT, casthdx2 TEXT, casthno2 TEXT, emtsuprt TEXT, lsatisfy TEXT, ctelnum1 TEXT, cellfon2 TEXT, cadult TEXT, pvtresd2 TEXT, cclghous TEXT, cstate TEXT, landline TEXT, hhadult TEXT, qstver TEXT, qstlang TEXT, mscode TEXT, xststr TEXT, xstrwt TEXT, xrawrake TEXT, xwt2rake TEXT, xage80 TEXT, ximprace TEXT, ximpnph TEXT, xchispnc TEXT, xcprace TEXT, xcrace1 TEXT, ximpcage TEXT, ximpcrac TEXT, ximpcsex TEXT, xcllcpwt TEXT, xdualuse TEXT, xdualcor TEXT, xllcpwt2 TEXT, xllcpwt TEXT, xrfhlth TEXT, xhcvu651 TEXT, xtotinda TEXT, xltasth1 TEXT, xcasthm1 TEXT, xasthms1 TEXT, xdrdxar1 TEXT, xexteth2 TEXT, xalteth2 TEXT, xdenvst2 TEXT, xprace1 TEXT, xmrace1 TEXT, xhispanc TEXT, xrace TEXT, xraceg21 TEXT, xracegr3 TEXT, xraceg1 TEXT, xageg5yr TEXT, xage65yr TEXT, xageg TEXT, htin4 TEXT, htm4 TEXT, wtkg3 TEXT, xbmi5 TEXT, xbmi5cat TEXT, xrfbmi5 TEXT, xchldcnt TEXT, xeducag TEXT, xincomg TEXT, xsmoker3 TEXT, xrfsmok3 TEXT, drnkany5 TEXT, drocdy3 TEXT, xrfbing5 TEXT, xdrnkdy4 TEXT, xdrnkmo4 TEXT, xrfdrhv4 TEXT, xrfdrmn4 TEXT, xrfdrwm4 TEXT, xflshot6 TEXT, xpneumo2 TEXT, xrfseat2 TEXT, xrfseat3 TEXT, xrfmam2y TEXT, xmam502y TEXT, xmam5021 TEXT, xrfpap32 TEXT, xrfpap33 TEXT, xrfpsa21 TEXT, xrfblds2 TEXT, xrfblds3 TEXT, xrfsigm2 TEXT, xcol10yr TEXT, xhfob3yr TEXT, xfs5yr TEXT, xfobtfs TEXT, xcrcrec TEXT, xaidtst3 TEXT, ximpeduc TEXT, ximpmrtl TEXT, ximphome TEXT, rcsbrac1 TEXT, rcsrace1 TEXT, rchisla1 TEXT, rcsbirth TEXT)'

Now that we have this table for brfss_2014 loaded, let's go ahead and query the database for the information that is interesting.

In [2]:
# Postgres info to connect
connection_args = {
    'host': input(), # my public ip address
    'user': 'ubuntu',    # username
    'dbname': 'brfss',   # DB that we are connecting to
    'port': 5432         # port we opened on AWS
}

connection = pg.connect(**connection_args)

54.67.118.82

In [3]:
diabetes_query = "SELECT xstate, diabete3 FROM brfss_2014"

In [4]:
diabetes_df = pd_sql.read_sql(diabetes_query, connection)

In [5]:
diabetes_df[diabetes_df.xstate == '1']['diabete3'].value_counts()

3    6892
1    1528
4     157
2      62
7       9
9       4
Name: diabete3, dtype: int64

In [59]:
diabetes_df[diabetes_df.xstate == '1']['diabete3'].value_counts(normalize=True)

3    0.796579
1    0.176607
4    0.018146
2    0.007166
7    0.001040
9    0.000462
Name: diabete3, dtype: float64

In [6]:
diabetes_weights_query = "SELECT xstate, diabete3, xllcpwt2, xllcpwt FROM brfss_2014"

In [7]:
diabetes_weights_df = pd_sql.read_sql(diabetes_weights_query, connection)

In [8]:
diabetes_weights_df.head()

  xstate diabete3          xllcpwt2           xllcpwt
0      1        3    124.3773858077  266.861265396154
1      1        3  121.624464566304  77.5983856870883
2      1        3  175.953264468735  108.943346379677
3      1        3  263.929896703102  259.031555509853
4      1        3  263.929896703102  334.597982387287

In [66]:
(1528)/8652

0.17660656495607951

In [58]:
diabetes_df[diabetes_df.xstate == '1'].shape

(8652, 2)

Now we'll use psycopg2 and sqlalchemy to upload the brfss_2014 dataframe to psql, which will create the schema. Then we'll copy the csv to the table that got created.

In [14]:
# Postgres info to connect
connection_args = {
    'host': input(), # my public ip address
    'user': 'ubuntu',    # username
    'dbname': 'texas_discharge',   # DB that we are connecting to
    'port': 5432         # port we opened on AWS
}

connection = pg.connect(**connection_args)

In [21]:
connection = connect(**params, dbname='ubuntu')

In [16]:
# Connect and create database, disconnect, and reconnect to the right database
connection = connect(**params, dbname='ubuntu')
connection.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT)
connection.cursor().execute('CREATE DATABASE brfss;')
connection.close()

In [22]:
from sqlalchemy import create_engine
connection_string = f'postgres://ubuntu:{params["host"]}@{params["host"]}:{params["port"]}/brfss'
engine = create_engine(connection_string)
brfss_2014.to_sql('brfss_2014', engine, index=False)